.main-nav{
  width: 19%;
  box-sizing: border-box;
}
.main-nav-border{
  border: 1px black solid;
}
.main-nav nav{
  border: 2px white solid;
  background-color: #fff;
  color: black;
  border: 2px white solid;
}






.main-nav-item h2{
  font-size: 18px;
  line-height: 25px;
  background-color: black;
  color: #fff;
  font-family: serif;
  padding: 6px 0px 6px 15px;
  letter-spacing: 1px;
}

.main-nav-list{
  padding-left: 20px;
  margin: 15px 0px;
}



.main-nav-text{
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: dotted black 1px;
}
.main-nav-item .main-nav-text:first-child{
  border-top: dotted 1px black;
}
.main-nav-text:hover{
  text-decoration: underline;
}